---
import { ViewTransitions } from 'astro:transitions'


interface Props {
    title?: string
    description?: string
    image?: string
}

const {title, description ='Nuestro blog en Astro', image= '/blog-placeholder-2.jpg'} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/public/fonts/ProductSans-Black.woff" as="font" type="font/woff" crossorigin/>
    <link rel="preload" href="/public/fonts/ProductSans-Medium.woff" as="font" type="font/woff" crossorigin/>
    <link rel="preload" href="/public/fonts/ProductSans-Light.woff" as="font" type="font/woff" crossorigin/>

    <!-- url canonica -->
     <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <!-- open graph -->
     <meta property="og:type" content="website"/>
     <meta property="og:url" content={Astro.url}/>
     <meta property="og:title" content={title}/>
     <meta property="og:description" content={description}/>
     <meta property="og:image" content={new URL(image, Astro.url)}/>
    <!-- twitter -->

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={Astro.url}/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description"  content={description}/>
    <meta property="twitter:image"content={new URL(image, Astro.url)}/>

    <!-- transition -->
    <ViewTransitions/>
</head>