---

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../formattedDate/FormattedDate.astro";

interface Props {
  data: CollectionEntry<"blog">["data"];
  slug: string;
}

const { data, slug } = Astro.props;
console.log(data.heroImage)
---

<li
  class="border-extra-soft-white text-soft-white hover:bg-soft-light rounded-xl border transition-colors duration-200"
>
  <div transition:name={data.title} >
    <article>
      <a href=`/blog/${slug}`>
        <Image
          src=""
          alt="imagen"
          width={1000}
          height={500}
          class="rounded-t-xl object-cover"
        />
        <div class="w-full">
          <div class="flex flex-col px-12 py-4">
            <h4 class="text-3xl font-bold">{data.title}</h4>
            <div class="flex gap-2">
              {
                data.tags.map((t) => (
                  <span class="border-extra-soft-white mt-4 self-start rounded border px-2 py-1 text-zinc-400">
                    {t}
                  </span>
                ))
              }
            </div>
            <p class="mt-6 text-sm text-zinc-400">
              <FormattedDate date={data.pubDate}/>
            </p>
          </div>
        </div>
      </a>
    </article>
  </div>
</li>
